:root {
    --main-bg-color: #0e2231;
    --main-accent-color: rgb(83,109,254);
    --main-accent-darker: rgb(60, 80, 186);

    --main-text-color: white;
    --main-action-text-color: white;
}

body {
    font-family: "Arial", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.no-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

header {
    background-color: var(--main-accent-color);
}

header img {
    box-sizing: border-box;
    height: 75px;
    width: auto;
    padding: 16px;
}

#action_panel {
    color: var(--main-action-text-color);
    display: flex;
    justify-content: space-between;
    background-color: var(--main-accent-darker);
    margin-bottom: 16px;
}

#action_panel a, #action_panel a:visited, #action_panel a:active, #action_panel a:focus {
    color: var(--main-action-text-color);
    cursor: pointer;
}

#action_panel .ap_left, #action_panel .ap_right {
    margin: 16px 16px 12px 16px;
}

#action_panel .ap_left {
    font-size: medium;
}

#action_panel .ap_left div {
    display: inline;
    position: relative;
    bottom: 4px;
    font-weight: bold;
}

#action_panel .ap_right, .mdl_ico {
    font-family: "Material Icons", sans-serif;
}

.mdl_ico {
    font-size: 22px;
}

#action_panel .ap_right {
    font-size: 32px;
    letter-spacing: 0.05em;
}

#files {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#files .file {
    width: 128px;
    min-height: 128px;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    transition: background-color 0.5s ease, transform 0.2s ease;
}

#files .file:hover {
    background-color: #ccc;
    cursor: pointer;
}

#files .file:active {
    transform: scale(0.98);
}

#files .file .icon {
    width: 100%;
    height: auto;
 }

#files .file .name {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;
    width: 100%;
    margin: 8px 0;
    font-size: medium;
    color: black;
    overflow-wrap: break-word;
}

.dialog_container {
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    min-width: 400px;
    min-height: 160px;
    padding: 32px;
    background-color: #eee;
    border-radius: 16px;
}

.dialog h3 {
    margin: 0;
}

#dialogNewFolder .new-folder-name-input {
    width: 100%;
}

#dialogNewFolder .new-folder-submit {
    float: right;
}

#dialogUpload input[type="file"] {
    height: 0;
    width: 0;
    display: none;
    opacity: 0;
}

#dialogUpload #uploadBox {
    display: block;
    background-color: #bbb;
    width: 100%;
    padding: 28px 0;
    text-align: center;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 4px;
}

#dialogUpload .upload-submit {
    float: right;
}

#dialogUpload .upload-queue {
    width: 100%;
    overflow-y: auto;
    height: 200px;
    background-color: #ccc;
}

#dialogUpload .upload-queue table, #dialogUpload .upload-queue tr {
    width: 100%;
}

#dialogUpload .upload-queue td:not(.separator) {
    padding: 4px;
}

#dialogUpload .upload-queue .separator * {
    border-color: #aaa;
    margin: 0;
    width: 100%;
}

#dialogUpload .upload-queue .hint {
    color: #aaa;
}

#dialogUpload .upload-queue td.icon, #dialogUpload .upload-queue td.icon img {
    width: 1.5em;
    height: auto;
    cursor: pointer;
}

#dialogUpload .upload-queue td.filename {
    width: 100%;
}

#dialogUpload .upload-queue td.upload_progress {
    text-align: right;
    padding-right: 6px;
}

#dialogUpload .upload-queue tr {
    border-bottom: 1px solid #aaa;
}


@keyframes fly-in-top {
    from {top: -105vh}
    to {top: 0}
}

@keyframes fly-out-top {
    from {top: 0}
    to {top: -105vh}
}

.dialog.shown {
    position: relative;
    animation: fly-in-top 0.4s ease;
}

.dialog:not(.shown) {
    position: relative;
    animation: fly-out-top 0.4s ease;
}