<Files "favicon.ico">
    Options FollowSymLinks
    Order allow,deny
    Allow from all
</Files>

<Files "env.php">
    Order deny,allow
    Deny from all
</Files>

<Files "const.php">
    Order deny,allow
    Deny from all
</Files>

<FilesMatch ".+\.d?js$">
    Header always set Content-Type "text/javascript"
</FilesMatch>

<FilesMatch ".(jpe?g|png)$">
    Header always set Cache-Control "private, max-age=31536000"
</FilesMatch>

AddType application/x-httpd-php .djs