#files {
    box-sizing: border-box;
    height: 100vh;
    max-height: calc(100vh - 75px - 50px);
    overflow: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition: max-height 0.3s ease;
}

body.header-hidden #files {
    max-height: calc(100vh - 50px);
}

#files .notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5vmin 0;
    width: 100%;
}

#files .notice .notice-summary {
    margin: 4px 0;
}

#files[data-layout="grid"] #fileList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: 16px 0 16px 0;
}

#files[data-layout="grid"] .files_header {
    display: none;
}

#files[data-layout="grid"] #fileList .file {
    width: 128px;
    min-height: 128px;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    transition: background-color 0.5s ease, transform 0.2s ease;
}


#files[data-layout="grid"] #fileList .file:hover {
    background-color: #ccc;
    cursor: pointer;
}

#files[data-layout="grid"] #fileList .file:active {
    transform: scale(0.98);
}

#files[data-layout="grid"] #fileList .file .file_icon {
    width: 100%;
    height: auto;
}

#files[data-layout="grid"] #fileList .file .file_name {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;

    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 8px 8px 0 8px;
    font-size: medium;
    height: calc(1.2em + 8px);
    line-height: 1em;
    color: black;

    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#files[data-layout="grid"] #fileList .file .file_type,
#files[data-layout="grid"] #fileList .file .file_size,
#files[data-layout="grid"] #fileList .file .file_mtime,
#files[data-layout="grid"] #fileList .file .file_ctime {
    display: none;
}

#files[data-layout="grid"] #fileList .file.selected {
    background-color: var(--main-accent-color);
    transition: none;
}

#files[data-layout="grid"] #fileList .file:hover.selected {
    background-color: var(--main-accent-darker);
    transition: none;
}

#files[data-layout="grid"] #fileList .file.selected .file_name {
    color: white;
    transition: none;
}

#files[data-layout="details"] {
    display: flex;
    flex-direction: column;
}

#files[data-layout="details"] .file {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    font-size: medium;

    display: flex;
    align-items: center;
    justify-content: center;
}

#files[data-layout="details"] .file > * {
    padding-right: 16px;
}

#files[data-layout="details"] .files_header {
    background-color: var(--main-bg-accent);
    position: sticky;
    top: 0;

    z-index: 5;

    font-size: medium;
    font-weight: bold;

    padding: 16px 8px;
}

#files[data-layout="details"] .files_header span {
    height: 1.2em;
}

#files[data-layout="details"] .file:not(.files_header):hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#files[data-layout="details"] .file:active {

}

#files[data-layout="details"] .file .file_icon {
    box-sizing: border-box;
    width: 3%;

    padding: 8px;
    margin-left: 8px;
    margin-right: 26px;

    filter: invert();
}

#files[data-layout="details"] .file .file_name {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: left;

    box-sizing: border-box;
    width: 50%;
    margin: 0;
    color: white;

    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#files[data-layout="details"] .file .file_size {
    box-sizing: border-box;
    width: 25%;
    text-align: left;
}

#files[data-layout="details"] .file .file_mtime {
    box-sizing: border-box;
    width: 22%;
    text-align: left;
}

#files[data-layout="details"] .file .file_type,
#files[data-layout="details"] .file .file_ctime {
    display: none;
}

#files[data-layout="details"] .file:not(.files_header).selected {
    background-color:  var(--main-accent-color);
    transition: none;
}

#files[data-layout="details"] .file:not(.files_header):hover.selected {
    background-color:  var(--main-accent-darker);
    transition: none;
}

#files_loading_indicator {
    position: absolute;

    width: 100%;
    height: 4px;
}

@keyframes fib_intro {
    from {opacity: 0;}
    to {opacity: 0.2;}
}

@keyframes fib_outro {
    from {opacity: 0.2;}
    to {opacity: 0;}
}

#files_interface_block {
    position: absolute;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    background-color: var(--main-accent-darker);

    opacity: 0.2;

    animation: fib_intro 0.2s ease;
}

#files_interface_block.closing {
    animation: fib_outro 0.2s ease;
}