* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: var(--main-accent-color);
    height: 100%;
    max-height: 75px;
    overflow: hidden;

    transition: all 0.3s ease;
}

body.header-hidden header {
    max-height: 0;
    background-color: var(--main-accent-darker);
}

header img {
    box-sizing: border-box;
    height: 75px;
    width: auto;
    padding: 16px;
}

body {
    overflow: hidden;
}