#action_panel {
    width: 100%;
    height: 50px;

    color: var(--main-action-text-color);
    display: flex;
    justify-content: space-between;
    background-color: var(--main-accent-darker);
}

#action_panel a, #action_panel a:visited, #action_panel a:active, #action_panel a:focus {
    color: var(--main-action-text-color);
    cursor: pointer;
}

#action_panel .ap_left, #action_panel .ap_right {
    margin: 6px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#action_panel .ap_left {
    overflow: hidden;
    flex: 1;

    width: calc(100vw - (1.2em * 4));
    font-size: medium;
}

#action_panel .ap_left .ap_directory {
    overflow: hidden;

    display: flex;
    align-items: center;
}

#action_panel .ap_left #ap_home {
    width: 1.2em;
}

#ap_directory_list {
    width: calc(100% - 1.2em);

    display: flex;
    align-items: center;
}

#ap_directory_list .folder_separator {
    margin: 0 2px;
}

#ap_directory_list .main {
    margin-left: 8px;
    font-weight: bold;
}

#ap_directory_list div {
    margin-top: auto;
}

#ap_directory_list #ap_directory_list_expand {
    cursor: pointer;

    border-radius: 50%;
    color: var(--main-accent-darker);
    background-color: var(--main-text-color);
}

#ap_directory_list_dropdown li {
    cursor: pointer;

    display: flex;
    align-items: center;
}

#ap_directory_list_dropdown li .icon {
    margin-right: 8px;
}

#ap_directory_list [data-target-directory] {
    white-space: nowrap;
}

#ap_directory_list [data-target-directory]:not(:nth-last-child(1)) {
    cursor: pointer;
}

#action_panel .ap_right, .mdl_ico {
    font-family: "Material Icons", sans-serif;
}

#action_panel .ap_right {
    flex: initial;
    width: calc(1.2em * 4);
    font-size: 32px;
    line-height: 1em;
    letter-spacing: 0.05em;
}

#action_panel .ap_right > a {
    box-sizing: border-box;
    height: 1.2em;
    width: 1.2em;
    padding: 0.1em;

    border-radius: 0.2em;
    transition: background-color 0.2s ease;
}

#action_panel .ap_right > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

