@import url("third-party/material.blue-indigo.min.css");
@import url("fonts.css");

:root {
    --main-bg-color: #0e2231;
    --main-accent-color: rgb(83,109,254);
    --main-accent-darker: rgb(60, 80, 186);

    --main-text-color: white;
    --main-action-text-color: white;

    --dialog-container-bg: rgba(0, 0, 0, 0.5);
    --dialog-bg: #eee;
    --dialog-text-color: black;
}

body {
    font-family: "Heebo", "Arial", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.no-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

header {
    background-color: var(--main-accent-color);
}

header img {
    box-sizing: border-box;
    height: 75px;
    width: auto;
    padding: 16px;
}

.mdl_ico {
    font-size: 22px;
}

.tooltip {
    font-size: 1.1em;
    border-radius: 0.4em;
}