.dialog_container {
    z-index: 20;

    background-color: var(--dialog-container-bg);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    z-index: 21;
    min-width: 400px;
    min-height: 160px;
    padding: 32px;
    background-color: var(--dialog-bg);
    color: var(--dialog-text-color);
    border-radius: 16px;
}

.dialog h3 {
    margin: 0;
}

@keyframes fly-in-top {
    from {top: -105vh}
    to {top: 0}
}

@keyframes fly-out-top {
    from {top: 0}
    to {top: -105vh}
}

.dialog_container.shown .dialog {
    position: relative;
    animation: fly-in-top 0.4s ease;
}

.dialog_container:not(.shown) .dialog {
    position: relative;
    animation: fly-out-top 0.4s ease;
}

.dialog_container.shown {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.dialog_container:not(.shown) {
    opacity: 0;
    transition: opacity 0.4s ease;
}